h1, h2, h3, h4, body {
  font-family: cambria;
}

body {
  background: url('../images/wavegrid.png')
}

.logo {
  height: 70px;
  width: 100%;
  margin-top: 15px;
}

.name {
  margin-left: 20px;
  margin-top: 22px;
  font-size: 60px;
  width: 300px;
  float: left;
}

.gray {
  font-weight: bold;
}

.poesia {
  font-size: 40px;
  float: right;
  margin-right: 30px;
  margin-top: 18px;
}

footer {
  margin-left: 20px;
}

.navbar {
  height: 60px;
  background-color: black;
  text-align: center;
  margin-bottom: 20px;
}

.navbar h4 {
  color: white;
  line-height: 60px;
  /*font-weight: bold;*/
  margin-right: 5px;
}

.nav-content{
  display: inline-block;
}

.content {
  height: auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  /*background-color: red;*/
}

.image {
  height: 212px;
  width: 150px;
  margin-right: 100px;
}


